@import url('https://fonts.googleapis.com/css?family=Roboto|Ubuntu');

/*Global Styles*/
* {
    padding: 0;
    margin: 0;
    color: #fff;
}

h1 {
    font-size: 96px;
    font-family: Ubuntu;
    letter-spacing: 3.84px;
    font-weight: bold;

    color: #E4E4E4;
}

h2 {
    font-size: 48px;
    font-family: Ubuntu;
    color: #343434;
    text-align: center;
}


h3 {
    font-size: 36px;
    font-family: Ubuntu;
    color: #fff;
}

p {
    font-size: 16px;
    font-family: Ubuntu;
    color: #fff;
}

.btn-primary {
    min-width: 302px;
    min-height: 76px;
    
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;

    background: #BC002D;
    box-shadow: 0px 4px 25.2px rgba(154, 154, 154, 0.25);
    border-radius: 10px;
    border:0;
}

.btn-primary:hover{
    color: #DDD;
    background: #960427;
    box-shadow: 0px 4px 25.2px rgba(154, 154, 154, 0.5);
}


/*Header Styles start*/
header {
    width: 100%;
    background: #343434;
    position: fixed;
}

.bg-dark {
    background: #343434 !important;
}

.nav-item {
    margin-right: 6px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}
.nav-link:hover {
    color:#BC002D !important;
}

.lang {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}

.social-img {
    margin-right: 15px;
}

.lang-item {
    margin-right: 10px;
}

/*Header Styles end*/

/*Hero block Styles start*/
.container-fluid {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.hero-block {
    height: 872px;
    background: url(img/hero-bg.png)
}

.hero-block h1 {
    padding-top: 258px;
}

.hero-block .btn {
    margin-top: 56px;
}

/*Hero block Styles end*/
