@import url('https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900|Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap&subset=cyrillic,cyrillic-ext');

/*Global Styles*/
* {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 96px;
    font-family: Ubuntu;
    letter-spacing: 3.84px;
    font-weight: bold;

    color: #E4E4E4;
}

h2 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    text-align: center;

    color: #555555;
}

h3 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
}

p {
    font-size: 16px;
    font-family: Ubuntu;
    color: #fff;
}

.btn-primary {
    min-width: 302px;
    min-height: 76px;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;

    background: #BC002D;
    box-shadow: 0px 4px 25.2px rgba(154, 154, 154, 0.25);
    border-radius: 10px;
    border: 0;
}
.btn-primary-mini{
    min-width: 220px;
    min-height: 60px;
    
    font-size: 18px;
    letter-spacing: 1px;
}
.btn-primary:hover {
    color: #DDD;
    background: #960427;
    box-shadow: 0px 4px 25.2px rgba(154, 154, 154, 0.5);
}


/*Header Styles start*/
header {
    width: 100%;
    background: #343434;
    position: fixed;
    z-index: 1;
}

.bg-dark {
    background: #343434 !important;
}

.nav-item {
    margin-right: 6px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}

.nav-link:hover {
    color: #BC002D !important;
}

.lang {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;

    color: #fff;
}

.social-img {
    margin-right: 15px;
}

.lang-item {
    margin-right: 10px;
}

/*Header Styles end*/

/*Hero block Styles start*/
.container-fluid {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.hero-block {
    height: 872px;
    background: url(img/hero-bg.png)
}

.hero-block h1 {
    padding-top: 258px;
}

.hero-block .btn {
    margin-top: 56px;
}

/*Hero block Styles end*/


/*Tours block styles start*/
.tours {
    margin-top: 100px;
}

.classic {
    background: url(img/classic-bg.png);
    width: 1140px;
    height: 300px;
    border-radius: 10px;
}

.wrap_tour {
    position: relative
}

.wrap_tour h3 {
    position: absolute;
    top: 40px;
    left: 52px;

    color: #E4E4E4;
}

.wrap_tour p {
    position: absolute;
    top: 98px;
    left: 52px;
    max-width: 460px;

    color: #E4E4E4;
}

.wrap_tour a {
    display: block;
    margin-top: 14px;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;

    color: #fff;
}

.hakuba {
    max-width: 566px;
    height: 300px;

    background: url(img/hakuba-bg.png);
    border-radius: 10px;
}

.okinava {
    max-width: 566px;
    height: 300px;

    background: url(img/okinava-bg.png);
    border-radius: 10px;
}

.more_tours {
    margin-bottom: 174px;
}

.more_tours p {
    max-width: 560px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.72px;

    color: #555555;
}

.more_tours btn {
    display: block;
}

/*Tours block styles end*/


/*Consultation block styles start*/
.consult {
    background: url(img/cons-bg.png);
    height: 540px;
}

.cons-content{
    padding-top: 80px;
    max-width: 640px;
}

.consult h3{
   color:#fff;
}
/*Consultation block styles end*/
