@import url('https://fonts.googleapis.com/css?family=Roboto|Ubuntu');


/*areas*/
.container {
    display: grid;
}

.header {
    display: grid;
    grid-area: hd;
    width: 100%;
    height: 80px;
    justify-items: center;
    align-items: center;
    background: #343434;
    position:fixed; 
}

.menu {
    grid-area: mn;
    color: #fff;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 600;
}

.social {
    grid-area: sc;
}

.logo {
    grid-area: lg;
}

.lang {
    grid-area: la;
    color: #fff;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 600;
}

.hero {
    grid-area: hr;
    background: url(img/hero-bg.png);
    height: 550px;
    width: 100%;
    font-family: Ubuntu;
    text-align: center;
}


.all-variants {
    grid-area: av;
    text-align: center;
    background: #fff;
    padding-top: 70px;
    padding-bottom: 70px;
}

.consult {
    grid-area: cn;
    background: url(img/cons-bg.png);

}

.footer {
    display: grid;
    grid-area: ft;
    justify-items: center;
    align-items: center;

}

.logo-footer {
    grid-area: lf;
}

.menu-footer {
    grid-area: mf;
    color: #fff;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 600;
}

.social-footer {
    grid-area: sf;
}

.lang-footer {
    grid-area: lr;
    color: #fff;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 600;
}

.footer-h2 {
    grid-area: fh;
    color: #fff;
    text-align: center;
}


/*buttons*/
.f-bt {
    background: #bc002d;
    font-size: 24px;
    font-family: Ubuntu;
    width: 240px;
    height: 54px;
    border-radius: 10px;
    border: 0;
    box-shadow: 1px 3px 4px #555;
    margin-top: 15px;
}

.f-bt:hover {
    background: #950124;
    color: #eee;
}

/*grid system*/

.container {
    grid-template-areas: "hd hd hd hd hd hd hd hd hd hd hd hd"
        "hr hr hr hr hr hr hr hr hr hr hr hr"
        "tr tr tr tr tr tr tr tr tr tr tr tr"
        ". cl cl cl cl cl cl cl cl cl cl . "
        ". hb hb hb hb hb ov ov ov ov ov ."
        ". . . av av av av av av . . ."
        "cn cn cn cn cn cn cn cn cn cn cn cn"
        "ft ft ft ft ft ft ft ft ft ft ft ft";

    grid-template-columns: repeat(12, 1fr);

    grid-template-rows: 80px 600px auto 340px auto 460px 600px 400px;

    grid-column-gap: 10px;
}

.header {
    grid-template-areas: ". mn mn mn mn lg lg sc sc la . .";
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 80px;

}

.footer {
    grid-template-areas: "fh fh fh fh"
        "lf mf sf lr";
    grid-template-columns: repeat(4, 1fr);
}

/*other-styles*/
li {
    display: inline-block;
    padding-left: 10px;
}

.social-img {
    padding-left: 10px;
}

.lang-item {
    padding-left: 10px;
}

.tour-info {
    color: #343434;
}

.hero-content {
    color: #fff;
    font-size: 96px;
    margin-top: 100px;
}

.wrap-tour {
    max-width: 480px;
    padding-left: 25px;
    padding-top: 25px;
}

.p-more {
    text-align: right;
    padding-top: 100px;
    padding-right: 10px;
    font-size: 18px;
}

.cons-content {
    max-width: 640px;
    padding-top: 50px;
    padding-left: 100px;
}

.footer {
    background: #343434;
}
