/*Hero block Styles start*/
.container-fluid {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.hero-block {
    height: 872px;
    background: url(../../img/hero-bg.png);
    animation: hero_animation 1s 1;
}

.hero-block h1 {
    padding-top: 258px;
    animation: hero_animation_text .75s 1;
}

.hero-block .btn {
    margin-top: 56px;
    animation: hero_animation_text .75s 1;
}


@media screen and (max-width:986px) {
    h1 {
        font-size: 64px;
        letter-spacing: 1.9px;
    }

    h3 {
        font-size: 32px;
    }
}

/*Hero block Styles end*/


/*Consultation block styles start*/
.consult {
    background: url(../../img/cons-bg.png);
    height: 540px;
}

.cons-content {
    padding-top: 80px;
    max-width: 640px;
}

.consult h3 {
    color: #fff;
}

/*Consultation block styles end*/


/*Animation*/
@keyframes hero_animation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes hero_animation_text {
    from {
        transform: scale(0.94);
    }

    to {
        transform: scale(1);
    }
}